# included templates
include:
  # semantic-release template
  - component: "$CI_SERVER_FQDN/to-be-continuous/semantic-release/gitlab-ci-semrel@4.0"
    inputs:
      changelog-enabled: true
      auto-release-enabled: true

# secret variables
# (define the variables below in your GitLab group/project variables)
# GITLAB_TOKEN: A GitLab 'project access token' or 'personal access token' with `api`, `read_repository` and `write repository` scopes.
# SEMREL_GPG_SIGNKEY: Path to the GPG signkey exported with `gpg --armor --export-secret-key`.

# your pipeline stages
stages:
  - build
  - test
  - package-build
  - package-test
  - infra
  - deploy
  - acceptance
  - publish
  - infra-prod
  - production
zip-koplugin-release:
  stage: publish
  image: registry.gitlab.com/gitlab-org/cli:latest
  rules:
    - if: "$CI_COMMIT_TAG"
  before_script:
    - apk add --no-cache zip bash git
  script:
    - echo "Generating version information from tag $CI_COMMIT_TAG"
    - bash generate-version.sh

    - echo "Creating koplugin release archive"
    - cd bookloresync.koplugin && zip -r ../bookloresync.koplugin.zip *.lua
    - cd ..

    # Attach to the *existing* release created by semantic-release
    # (display name + link type)
    - glab release upload "$CI_COMMIT_TAG" "bookloresync.koplugin.zip#bookloresync.koplugin.zip#package" --use-package-registry
