.form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  animation: fadeIn 0.3s ease-in;
}

.form-content {
  flex-grow: 1;
  overflow: auto;
  padding: 0;

  @media (min-width: 768px) {
    padding: 1rem;
  }
}

.metadata-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.75rem;
  padding-left: 9.25rem;
  margin-top: 1rem;
}

.metadata-header-text {
  margin-left: 0.75rem;
  font-size: 1.125rem;
}

.button-left {
  padding-left: 3rem;
  padding-right: 0.5rem;
}

.button-double-left {
  padding-left: 0.5rem;
  padding-right: 2rem;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 100%;
  justify-content: flex-start;
}

.label {
  width: 8rem;
  text-align: left;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input {
  width: 50%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 0 1rem;
}

.autocomplete-container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.autocomplete-full-width {
  width: 100%;
}

.thumbnail {
  width: 15.625rem;
  height: 21.875rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.arrow-button {
  padding-left: 1rem;
  padding-right: 1rem;
}

.yellow-outlined-button {
  --p-button-outlined-primary-border-color: yellow;
  --p-button-outlined-primary-color: yellow;
}

.green-outlined-button {
  --p-button-outlined-primary-border-color: limegreen;
  --p-button-outlined-primary-color: limegreen;
}

.red-outlined-button {
  --p-button-outlined-primary-border-color: #E32636;
  --p-button-outlined-primary-color: #E32636;
}

.form-footer {
  margin-top: auto;
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem 0;
}

.footer-buttons-right {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

::ng-deep .p-inputchips {
  width: 100% !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
